* {
    border: 0;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

.extension-section {
    min-width: var(--extension-width);
    padding: 25px;
    color: #fff;
}
.extension-section .title {
    margin: 1rem 0;
}